<%= form_with(model: [@sheet, @workout], data: { controller: "bridge--form", action: "turbo:submit-start->bridge--form#submitStart turbo:submit-end->bridge--form#submitEnd" }) do |form| %>
  <% if workout.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(workout.errors.count, t('error')) %> <%= t('.error_message_form')%></h2>

      <ul>
        <% workout.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class='mb-3'>
    <%= form.label :exercise, t('.label.exercise'), style: "display: block", class: 'form-label' %>
    <%= form.text_field :exercise, class: 'form-control border border-success' %>
  </div>

  <div class='mb-3'>
    <%= form.label :series, t('.label.series'), style: "display: block", class: 'form-label' %>
    <%= form.number_field :series, class: 'form-control border border-success' %>
  </div>

  <div class='mb-3'>
    <%= form.label :repetitions, t('.label.repetitions'), style: "display: block", class: 'form-label' %>
    <%= form.text_field :repetitions,  maxlength: 15, class: 'form-control border border-success' %>
  </div>

  <div class='mb-3'>
    <%= form.label :interval, t('.label.interval'), style: "display: block", class: 'form-label' %>
    <%= form.text_field :interval, maxlength: 15, class: 'form-control border border-success' %>
    <%= content_tag :small, "Máximun characters: 15", class: "text-muted" %>
  </div>

  <div class='mb-3'>
    <%= form.label :charge, t('.label.charge'), style: "display: block", class: 'form-label' %>
    <%= form.select :charge, t('.options_charge'), {}, class: "form-select border border-success" %>
  </div>

  <div class='mb-3'>
      <%= form.label :video, style: "display: block", class: 'form-label' %>

      <div data-controller="upload-preview">
        <div id="video" data-upload-preview-target="removeButton">
          <% if workout.video.attached? && workout.video.persisted? %>
            <%= video_tag workout.video, controls: true, class: 'rounded bg-secondary img-fluid mb-2', style: 'height: 160px' %>
            <%= link_to t('destroy'), sheet_workout_video_path(@sheet, @workout), data: { turbo_method: :delete, 'turbo-confirm': t('message_destroy') }, class: 'btn btn-danger mb-3' %>
          <% end %>
        </div>

        <%= video_tag "", controls: true, class: 'rounded bg-secondary img-fluid mb-2', data: { "upload-preview-target": "preview" }, style: 'height: 160px', hidden: true %>

        <button type="button" class="btn btn-danger mb-3"
          data-upload-preview-target="clearButton" data-action="upload-preview#removePreview" hidden>
          <%= t('remove_preview') %>
        </button>

        <%= form.file_field :video, accept: 'video/mp4, video/mpeg, video/quicktime', class: 'form-control',
          data: { controller: "size-validation", "upload-preview-target": "fileInput", action: "change->size-validation#validate change->upload-preview#preview" } %>

        <%= content_tag :small, t('.supported_files'), class: "text-muted" %>
      </div>
    <div>

    <%= form.submit "Save", data: { "bridge--form-target": "submit", "bridge-title": "Save" }, class: 'btn btn-success' %>
  </div>
  <% end %>
