<%= form_with(model: workout, data: { controller: "bridge--form", action: "turbo:submit-start->bridge--form#submitStart turbo:submit-end->bridge--form#submitEnd" }) do |form| %>
  <% if workout.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
        <% workout.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :exercise, style: "display: block" %>
    <%= form.text_field :exercise %>
  </div>

  <div>
    <%= form.label :series, style: "display: block" %>
    <%= form.number_field :series %>
  </div>

  <div>
    <%= form.label :repetitions, style: "display: block" %>
    <%= form.text_field :repetitions %>
  </div>

  <div>
    <%= form.label :charge, style: "display: block" %>
    <%= form.text_field :charge %>
  </div>

  <div>
    <%= form.submit nil, data: { "bridge--form-target": "submit", "bridge-title": "Save" } %>
  </div>
<% end %>
