<%= form_with(model: workout, data: { controller: "bridge--form", action: "turbo:submit-start->bridge--form#submitStart turbo:submit-end->bridge--form#submitEnd" }) do |form| %>
  <% if workout.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
        <% workout.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class='mb-3'>
    <%= form.label :exercise, style: "display: block", class: 'form-label' %>
    <%= form.text_field :exercise, class: 'form-control border border-success' %>
  </div>

  <div class='mb-3'>
    <%= form.label :series, style: "display: block", class: 'form-label' %>
    <%= form.text_field :series, class: 'form-control border border-success' %>
  </div>

  <div class='mb-3'>
    <%= form.label :repetitions, style: "display: block", class: 'form-label' %>
    <%= form.text_field :repetitions, class: 'form-control border border-success' %>
    <%= content_tag :small, "Máximun characters: 15", class: "text-muted" %>
  </div>

  <div class='mb-3'>
    <%= form.label :interval, style: "display: block", class: 'form-label' %>
    <%= form.text_field :interval, class: 'form-control border border-success' %>
    <%= content_tag :small, "Máximun characters: 15", class: "text-muted" %>
  </div>

  <div class='mb-3'>
    <%= form.label :charge, style: "display: block", class: 'form-label' %>
    <%= form.text_field :charge, class: 'form-control border border-success' %>
  </div>

  <div class='mb-3'>
    <%= form.label :video, style: "display: block", class: 'form-label' %>

    <% if workout.video.present? %>
      <div id="video">
        <%= video_tag url_for(workout.video), controls: true, class: 'rounded bg-secondary img-fluid', style: 'height: 160px' %>
        <%= link_to "Excluir video", workout_video_path(workout), data: { turbo_method: :delete, 'turbo-confirm': 'Tem certeza?' }, class: 'btn btn-danger mb-4' %>
      </div>
    <% end %>

    <%= form.file_field :video, class: 'form-control border border-success' %>
  </div>

  <div>
    <%= form.submit "Save", data: { "bridge--form-target": "submit", "bridge-title": "Save" }, class: 'btn btn-success' %>
  </div>
<% end %>
