<div id="<%= dom_id workout %>">
  <p>
    <strong>Exercise:</strong>
    <%= workout.exercise %>
  </p>

  <p>
    <strong>Series:</strong>
    <%= workout.series %>
  </p>

  <p>
    <strong>Repetitions:</strong>
    <%= workout.repetitions %>
  </p>

  <p>
    <strong>Charge:</strong>
    <%= workout.charge %>
  </p>

</div>
