<% content_for(:title, @sheet.name) %>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1><%= @sheet.name %></h1>
  <%= link_to t('new'), new_sheet_workout_path(@sheet), data: { controller: "bridge--nav-button", bridge_title: "+ New" }, class: 'btn btn-success flex-shrink-0' %>
</div>

<%= turbo_frame_tag "workouts" do %>
  <% if @sheet.sheet_completions_today.any? %>
    <p class="fw-semibold mb-2">
      <i class="bi bi-trophy-fill me-1 text-warning"></i>
      completed <%= @sheet.sheet_completions_today.size %>x <%= t('today') %>
    </p>
  <% end %>

  <div class="row">
    <% @workouts.each do |workout| %>
      <div class="col-md-6 mb-4">
        <%= render workout, completion: @completions_by_workout_id[workout.id] %>
      </div>
    <% end %>
  </div>
<% end %>

<br>

<%= link_to 'back', sheets_path, class: 'hide-on-mobile mt-2' %>
