<% if notice.present? %>
  <p style="color: green" data-controller="bridge--flash-message"><%= notice %></p>
<% end %>

<%= render @workout %>

<div data-controller="bridge--menu">
  <div class="d-none" data-controller="bridge--nav-button" data-action="click->bridge--menu#show">Options</div>
    <div class='btn-toolbar'>
      <div data-bridge--menu-target="title" class="d-none">Contact Options</div>
      <%= link_to "Edit workout", edit_workout_path(@workout), data: { bridge__menu_target: "item" }, class: 'btn btn-secondary me-4' %>
      <%= button_to "Destroy workout", @workout, method: :delete, data: { bridge__menu_target: "item", 'turbo-confirm': 'Destroy workout?' }, class: 'btn btn-danger' %>
    </div>
  <hr>
    <%= link_to 'back', workout_path, class: 'hide-on-mobile' %>
</div>
