<% content_for(:title, t('.title')) %>

<div id="sessions">
  <ul class="list-group rounded">
    <% @sessions.each do |session| %>
      <div id="<%= dom_id session %>">
        <li class="list-group-item">
          <p>
            <strong><%= t('.user_agent') %></strong>
            <%= session.user_agent %>
          </p>

          <p>
            <strong><%= t('.ip_address') %></strong>
            <%= session.ip_address %>
          </p>

          <p>
            <strong><%= t('.created_at') %></strong>
            <%= session.created_at %>
          </p>

          <p>
            <%= button_to t('.submit'), session, method: :delete, class: 'btn btn-danger d-grid' %>
          </p>
        </li>
      </div>
    <% end %>
  </ul>
</div>

<br>

<div class='hide-on-mobile'>
  <%= link_to t('.link_back'), account_path %>
</div>
