<% content_for(:title, t('.title')) %>

<h1 class="mb-3">
  <%= link_to account_path, class: 'd-flex align-items-center gap-2 text-decoration-none text-body' do %>
    <i class="bi bi-arrow-left-short"></i><%= t('.title') %>
  <% end %>
</h1>

<ul id="sessions" class="list-unstyled p-0 m-0">
  <% @sessions.each do |session| %>
    <li class="bg-body-tertiary rounded p-2 mb-3 shadow-sm" id="<%= dom_id session %>">
      <p class="my-1">
        <strong><%= t('.user_agent') %></strong>
        <%= session.user_agent %>
      </p>

      <p class="my-1">
        <strong><%= t('.ip_address') %></strong>
        <%= session.ip_address %>
      </p>

      <p class="my-1">
        <strong><%= t('.created_at') %></strong>
        <%= session.created_at %>
      </p>

      <%= button_to t('destroy'), session, method: :delete, data: { turbo_confirm: t("message_destroy")}, class: 'btn btn-danger mt-2' %>
    </li>
  <% end %>
</ul>
