<% content_for(:title, t('.title')) %>

<div class="mb-3 text-center">
  <%= image_tag 'logo.png' %>
</div>

<%= form_with(url: sign_in_path) do |form| %>
  <div class='mb-3'>
    <%= form.label :email, style: "display: block", class: 'form-label' %>
    <%= form.email_field :email, value: params[:email_hint], required: true, autofocus: true, autocomplete: "email", class: 'form-control border border-success' %>
  </div>

  <div class='mb-3'>
    <%= form.label :password, t('.password_label'), style: "display: block", class: 'form-label' %>
    <%= form.password_field :password, required: true, autocomplete: "current-password", class: 'form-control border border-success' %>
    <%= link_to t('.link_forgot_password'), new_identity_password_reset_path, class: 'link-underline link-underline-opacity-0' %>
  </div>

  <div class='mb-3 d-grid'>
    <%= form.submit t('.submit_sign_in'), class: 'btn btn-success' %>
  </div>
<% end %>

<div class='mb-3'>
  <p class='h4 fw-bold'><%= t('.section')%></p>
    <%= link_to t('.submit_sign_up'), sign_up_path, class: 'btn btn-secondary d-grid' %>
</div>

<hr>

<div>
  <h5 class='fw-bold'><%= t('.section_1') %></h5>

  <%= form_tag(root_path, method: :get) do %>
    <div class="d-flex" style='max-width: 20rem;'>
      <%= select_tag :locale, options_for_select([[t('.language_1'), 'en'], [t('.language_2'), 'pt-BR']], I18n.locale), class: 'form-select' %>
      <%= submit_tag t('.submit'), class: 'ms-3 btn btn-secondary' %>
    </div>
  <% end %>
</div>
