<%= content_for :title, @profile.name %>

<h1 class="mb-4">
  <%= link_to social_profiles_path, class: 'd-flex align-items-center gap-2 text-decoration-none text-body' do %>
    <i class="bi bi-arrow-left-short"></i><%= @profile.name %>
  <% end %>
</h1>

<div class="p-3 bg-body-tertiary rounded shadow-sm">
  <div class="d-flex justify-content-start align-items-center mb-2 gap-3">
    <%= link_to "#{@profile.followers.count} followers", followers_social_profile_path(@profile), class: 'text-primary text-decoration-none fw-semibold' %>
    <%= link_to "#{@profile.followings.count} following", followings_social_profile_path(@profile), class: 'text-primary text-decoration-none fw-semibold' %>
  </div>

  <%= render 'profile', profile: @profile %>
</div>
