<h3 class="mb-3">Send copies</h3>
<div class="shadow-sm border rounded p-2 mb-4">
  <div class="d-flex justify-content-between">
    <%= render "sheets/sheet", sheet: @sheet %>
    <div class="text-end fs-6">
      <small class="text-muted d-block">type: <%= @sheet.workout? ? t('workout') : t('diet') %></small>
      <small class="text-muted">font: <%= @sheet.copy? ? "copied" : "original" %></small>
    </div>
  </div>
</div>

<%= turbo_frame_tag "search" do %>
  <%= form_with url: sheet_shareables_path(@sheet), method: :get do |form| %>
    <%= form.text_field :handle, value: params[:handle], placeholder: "search hundle", class: "form-control", onchange: "this.form.requestSubmit()" %>
  <% end %>
  <small class="text-muted">search by user identifier: @hundle</small>

  <div class="mt-3">
    <%= render "sheets/shareables/shareable", user: @user if @user.present? %>
  </div>
<% end %>
