<p><%= t('.greeting') %></p>

<p><%= t('.message', email:  @user.email) %></p>

<p><strong><%= t('.strong_confirm') %></strong></p>

<p><%= link_to t('.confirm_link'), identity_email_verification_url(sid: @signed_id) %></p>

<hr>

<p><%= t('.help_message') %></p>
