<p><%= t('greeting') %></p>

<p><%= t('.message', email: @user.email) %></p>

<p><strong><%= t('.expiration_message') %></strong></p>

<p><%= link_to t('.link_text'), edit_identity_password_reset_url(sid: @signed_id) %></p>

<hr>

<p><%= t('.help_message') %></p>
