<div class="d-flex align-items-center  p-2 mb-3">
  <% if recipient.avatar.attached? %>
    <%= image_tag recipient.avatar, class: "rounded-circle me-2", width: 40, height: 40 %>
  <% else %>
    <%= image_tag "avatar.png", class: "rounded-circle", width: 40, height: 40 %>
  <% end %>
  <p class="text-success m-0"><%= recipient.name %></p>
</div>

<%= form_with url: shares_shared_sheets_path(handle: recipient.handle), method: :post, local: true do |form| %>
  <div class="mb-3">
    <label class="form-label">Fichas para compartilhar:</label>
    <%= select_tag "sheet_ids[]", options_from_collection_for_select(sheets, :id, :name), multiple: true, class: "form-select", size: 5 %>
  </div>

  <div class="d-flex gap-2">
    <%= form.submit "Compartilhar", class: "btn btn-primary", data: { turbo_frame: "_top" } %>
    <%= link_to "Cancelar", shares_shared_sheets_path, class: "btn btn-secondary" %>
  </div>
<% end %>
