<div class="border-top pt-3">
  <%= form_with url: shares_sheet_requests_path(handle: recipient.handle), method: :post, data: { turbo_frame: "_top" } do |form| %>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="d-flex align-items-center">
        <% if recipient.avatar.attached? %>
          <%= image_tag recipient.avatar, class: "rounded-circle me-2 object-fit-cover border border-success", width: 42, height: 42 %>
        <% else %>
          <%= image_tag "avatar.png", class: "rounded-circle me-2 border border-success", width: 42, height: 42 %>
        <% end %>

        <p class="m-0 fw-semibold text-success"><%= recipient.name %></p>
      </div>
      <%= form.submit "Save", class: "btn btn-success" %>
    </div>

    <%= form.collection_select :sheet_ids, sheets, :id, :name, { include_hidden: false }, multiple: true, id: "sheets", required: true,
          class: "rounded", data: { controller: "combobox", combobox_max_selections_value: 5 } %>
  <% end %>
</div>
