<div id="<%= dom_id treino %>">
  <h3 class='text-center text-white bg-secondary opacity-50 rounded'>
    <%= treino.exercicio %>
  </h3>

<div class="text-center">
  <h3 class='mb-2 bg-secondary-subtle rounded'>
    Series:
    <%= treino.series %>
  </h3>

  <h3 class='mb-2 bg-secondary-subtle rounded'>
  Repeticoes:
  <%= treino.repeticoes %>
  </h3>

  <h3 class='mb-2 bg-secondary-subtle rounded'>
    Carga:
    <%= treino.carga %>
  </h3>
</div>
