<div id="<%= dom_id treino %>">
  <div class="bg-secondary-subtle shadow rounded mb-3 p-1 mt-2">
    <div class="container text-center">
      <div class="row">
        <div class="col-8">
          <h5 class='fw-bold text-start'><%= treino.exercicio %></h5>
        </div>
        <div class="col-4 text-end mt-1 mb-2">
            <% if action_name == 'index' %>
              <%= link_to 'Mostrar', ficha_treino_path(@ficha, treino), class: 'link-offset-2 link-underline link-underline-opacity-0 link-light btn btn-success-custom' %>
            <% end %>
        </div>
      </div>

      <div class="row g-3 mb-2">
        <div class="col">
          <div class="rounded bg-light p-1">
            <h6>Series</h6>
            <h6 class='fw-light'><%= treino.series %></h6>
          </div>
        </div>
        <div class="col">
          <div class="rounded bg-light p-1">
            <h6>Repetições</h6>
            <h6 class='fw-light'><%= treino.repeticoes %></h6>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h6 class="mt-2"><strong>Intervalo: </strong>30seg</h6>
          <% if treino.video.present? %>
            <a class="link-primary link-underline link-underline-opacity-0" data-bs-toggle="collapse" href="#<%= treino.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
              Ver video
            </a>
          <% end %>
        </div>
        <div class="col">
          <div class="rounded bg-light p-1">
            <h6>Carga</h6>
            <h6 class='fw-light'><%= treino.carga %></h6>
          </div>
        </div>
      </div>

      <% if treino.video.present? %>
        <div class="collapse text-start mt-2" id="<%= treino.id %>">
          <%= video_tag url_for(treino.video), controls: true, class: 'img-fluid bg-dark rounded'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
