<div id="<%= dom_id treino %>">

<h2 class='text-center mb-3 p-2'>
  <%= treino.exercicio %>
</h2>

<div class="text-center">
  <div class="row g-3">
    <div class="col">
      <div class="bg-warning-subtle rounded">
          <h5>Series</h5>
          <h5><%= treino.series %></h5>
      </div>
    </div>
    <div class="col">
      <div class="bg-warning-subtle rounded">
          <h5>repeticoes</h5>
          <h5><%= treino.repeticoes %></h5>
      </div>
    </div>
  </div>
</div>


  <div class="bg-warning-subtle rounded text-center">
    <h5>Carga</h5>
    <h5><%= treino.carga %></h5>
  </div>
</div>
