<div class="collapse show" id="<%= dom_id treino %>">

  <div class="bg-secondary-subtle rounded mb-3 p-1">
    <h2 class='text-center mb-3 p-2'>
      <%= treino.exercicio %>
    </h2>

    <div class="container">
      <div class="text-center text-white">
        <div class="row g-3">
          <div class="col">
            <div class="rounded" style="background-color: indigo;">
              <h5>Series</h5>
              <h5 class='p-1'>
                <%= treino.series %>
              </h5>
            </div>
          </div>
          <div class="col">
            <div class="rounded" style="background-color: indigo;">
              <h5>Repetições</h5>
              <h5 class='p-1'>
                <%= treino.repeticoes %>
              </h5>
            </div>
          </div>
        </div>
        <div class="rounded mb-3" style="background-color: indigo;">
          <h5>Carga</h5>
          <h5 class='p-1'>
            <%= treino.carga %>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
