<div id="<%= dom_id treino %>">
  <p>
    <strong>Exercicio:</strong>
    <%= treino.exercicio %>
  </p>

  <p>
    <strong>Series:</strong>
    <%= treino.series %>
  </p>

  <p>
    <strong>Repeticoes:</strong>
    <%= treino.repeticoes %>
  </p>

  <p>
    <strong>Carga:</strong>
    <%= treino.carga %>
  </p>

</div>
