<div id="<%= dom_id treino %>">
  <div class="bg-secondary-subtle rounded mb-3 p-1">
    <div class="container">
      <div class="row ">
        <div class="col-9">
          <h1 class='text-start'><%= treino.exercicio %></h1>
        </div>
        <% if controller.controller_name == 'fichas' %>
          <div class="col text-end">
            <div class="btn btn-success-custom">
              <%= link_to 'Mostrar', ficha_treino_path(@ficha, treino), class: 'link-offset-2 link-underline link-underline-opacity-0 link-light' %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="text-center text-dark">
        <div class="row g-3">
          <div class="col">
            <div class="rounded bg-light">
              <h5>Series</h5>
              <h6 class='fw-light'>
                <%= treino.series %>
              </h6>
            </div>
          </div>
          <div class="col">
            <div class="rounded bg-light">
              <h5>Repetições</h5>
              <h6 class='fw-light'>
                <%= treino.repeticoes %>
              </h6>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="text-dark">
              <h6 class="mt-2"><strong>Intervalo: </strong>30seg</h6>
              <p class="link-primary">Visualizar</p>
            </div>
          </div>
          <div class="col">
            <div class="rounded bg-light">
                <h5>Carga</h5>
                <p class='fw-light'>
                  <%= treino.carga %>
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
