<div id="<%= dom_id(request) %>" class="col-md-6 p-2 hover-zoom-sm">
  <div class="bg-body-tertiary border-start border-2 <%= request.sheet.workout? ? 'border-success' : 'border-warning' %> shadow-sm rounded p-2">
    <div class="d-flex align-items-center mb-2">
      <% user = params[:filter] == "sent" ? request.recipient : request.sender %>

      <% if Current.user.avatar.attached? %>
        <%= image_tag Current.user.avatar, class: 'rounded-circle object-fit-cover me-2', style: 'width: 40px; height: 40px;', alt: '' %>
      <% else %>
        <div class="me-2 rounded-circle bg-secondary d-flex align-items-center justify-content-center text-white" style="width: 40px; height: 40px;">
          <i class="bi bi-person-fill fs-5"></i>
        </div>
      <% end %>

      <div class="flex-grow-1">
        <h6 class="m-0 text-success"><%= user.name %></h6>
        <small class="text-muted"><%= params[:filter] == "sent" ? t("sheet_request_received") : t("sheet_request_shared") %></small>
      </div>

      <div class="d-flex gap-2">
        <% if request.pending? && request.receiver? %>
          <%= button_to accept_request_path(request), method: :patch, class: "btn btn-success btn-sm rounded-circle" do %>
            <i class="bi bi-check2-all"></i>
          <% end %>
        <% end %>

        <% if request.sender? || request.receiver? %>
          <%= button_to request_path(request), method: :delete, class: "btn btn-danger btn-sm rounded-circle", data: { confirm: "Tem certeza que deseja excluir este compartilhamento?" } do %>
            <i class="bi <%= request.accepted? ? 'bi-trash' : 'bi-x-lg' %>"></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <p class="m-0">
      <i class="bi bi-file-earmark-spreadsheet-fill me-1"></i><%= request.sheet.name %>
      <small class="badge <%= request.sheet.workout? ? 'bg-danger-subtle text-danger' : 'bg-warning-subtle text-warning' %>"><%= request.sheet.workout? ? t('workout') : t('diet') %></small>
    </p>

    <% if request.sheet.description.present? %>
      <div class="mt-2">
        <a class="text-muted small d-flex align-items-center text-decoration-none" data-bs-toggle="collapse" href="#desc-<%= request.id %>" role="button" aria-expanded="false" aria-controls="desc-<%= request.id %>">
          <i class="bi bi-blockquote-right me-1"></i> Show description
        </a>

        <div class="collapse mt-1 bg-dark-subtle rounded py-1 px-2" id="desc-<%= request.id %>"><%= request.sheet.description %></div>
      </div>
    <% end %>
  </div>
</div>
