<% content_for(:title, t('.title')) %>

<div class="d-flex justify-content-between align-items-center">
  <h1><%= t('.title') %></h1>
  <%= link_to t('new'), new_request_path, data: { controller: "bridge--nav-button", bridge_title: "+ New" }, class: 'btn btn-success mb-3 flex-shrink-0' %>
</div>

<%= turbo_frame_tag "sheet_requests" do %>
  <div class="sticky-top z-3 d-flex align-items-center justify-content-end mb-3 py-2" style="top: 56px;">
    <%= render "shared/filter_pills", label: t('.filter'), current_value: params[:filter], style: "bg-body-tertiary border",
      options: [
        { label: t('.filters.sent'), value: "sent", url: requests_path(filter: "sent") },
        { label: t('.filters.received'), value: "received", url: requests_path(filter: "received") }
      ] %>
  </div>

  <div id="paginables" class="row">
    <%= render partial: 'sheets/requests/request', collection: @page.records, as: :request %>
    <%= render 'shared/paginables/next_page_container', src: requests_path(@page.next_param, format: :turbo_stream) unless @page.last? %>
  </div>
<% end %>
