<% content_for(:title, t('.title')) %>

<h1 class="mb-3">
  <%= link_to requests_path, class: 'd-flex align-items-center gap-2 text-decoration-none text-body' do %>
    <i class="bi bi-arrow-left-short"></i><%= t('.title') %>
  <% end %>
</h1>

<div class="d-flex flex-column" style="min-height: calc(100vh - 160px);">
  <%= turbo_frame_tag "sheet_requests" do %>
    <%= form_with url: new_request_path, method: :get, local: true do |form| %>
      <div class="mb-3">
        <label class="form-label"><%= t('.search_user') %></label>
        <div class="input-group">
          <span class="input-group-text">@</span>
          <%= text_field_tag :handle, params[:handle], class: "form-control", placeholder: t('.handle') %>
        </div>
      </div>

      <%= form.submit t('search'), class: "btn btn-success px-3 mb-4" %>
    <% end %>

    <% if @recipient.present? %>
      <%= render partial: "recipient_form", locals: { recipient: @recipient, sheets: @sheets } %>
    <% end %>
  <% end %>

  <%= image_tag 'undraw/mobile_user.svg', alt: '', class: 'img-fluid mt-auto ms-auto' %>
</div>
