<% content_for(:title, t('.title')) %>

<div class="d-flex justify-content-between align-items-center">
  <h1><%= t('.title') %></h1>
  <%= link_to t('new'), new_sheet_request_path, data: { controller: "bridge--nav-button", bridge_title: "+ New" }, class: 'btn btn-success mb-3 flex-shrink-0' %>
</div>

<%= turbo_frame_tag "sheet_requests" do %>
  <div class="sticky-top d-flex justify-content-end mb-3" style="top: 64px; z-index: 1010;">
    <ul class="nav nav-pills gap-1 rounded bg-body-tertiary shadow-sm fw-medium border-bottom" style="--bs-bg-opacity: .8;">
      <li class="nav-item">
        <%= link_to sheet_requests_path(filter: "sent"), class: "nav-link text-body #{'bg-info-subtle text-info-emphasis' if params[:filter] == 'sent'}" do %>
          <i class="bi bi-send"></i> <%= t(".filters.sent") %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to sheet_requests_path(filter: "received"), class: "nav-link text-body #{'bg-success-subtle text-success-emphasis' if params[:filter] == 'received'}" do %>
          <i class="bi bi-inbox"></i> <%= t(".filters.received") %>
        <% end %>
      </li>
    </ul>
  </div>

  <div id="paginables" class="row">
    <%= render partial: "sheet_request", collection: @page.records, as: :sheet_request %>
    <%= render "shared/paginables/next_page_container", src: sheet_requests_path(page: @page.next_param, filter: params[:filter], format: :turbo_stream) unless @page.last? %>
  </div>
<% end %>
