<% content_for(:title, t('.title')) %>

<div class="d-flex justify-content-between align-items-center">
  <h1 class="h2"><%= t('.title') %></h1>
  <%= link_to t('new'), new_sheet_request_path, data: { controller: "bridge--nav-button", bridge_title: "+ New" }, class: 'btn btn-success mb-3 flex-shrink-0' %>
</div>

<%= turbo_frame_tag "sheet_requests" do %>
  <div class="sticky-top d-flex align-items-center justify-content-between mb-3">
    <h5 class="text-success"><%= params[:filter] == "sent" ? t('.filters.sent') : t('.filters.received') %></h5>
    <div class="ms-auto dropdown bg-light rounded mt-2">
      <button class="btn btn-sm border dropdown-toggle" type="button" id="languageButton" data-bs-toggle="dropdown">
        <i class="bi bi-funnel-fill"><%= t('.filter') %></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><%= link_to t('.filters.sent'), sheet_requests_path(filter: 'sent'), class: 'dropdown-item' %></li>
        <li><%= link_to t('.filters.received'), sheet_requests_path(filter: 'received'), class: 'dropdown-item' %></li>
      </ul>
    </div>
  </div>

  <div id="paginables" class="row">
    <%= render partial: "sheet_request", collection: @page.records, as: :sheet_request %>
    <%= render "shared/paginables/next_page_container", src: sheet_requests_path(@page.next_param, format: :turbo_stream) unless @page.last? %>
  </div>
<% end %>
