<div class="ms-auto dropdown rounded mt-2">
  <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="languageButton" data-bs-toggle="dropdown">
    <i class="bi bi-funnel-fill"></i> <%= t('.filter') %>
  </button>

  <ul class="dropdown-menu dropdown-menu-end">
    <li>
      <%= link_to sheets_path(type: 'diet', completed: params[:completed]),
        class: "dropdown-item #{'bg-warning text-light' if params[:type] == 'diet'}" do %>

        <i class="bi bi-egg-fried me-2"></i> <%= t('diet') %>
      <% end %>
    </li>

    <li>
      <%= link_to sheets_path(type: 'workout', completed: params[:completed]),
        class: "dropdown-item #{'bg-success text-light' if params[:type] == 'workout'}" do %>

        <i class="bi-heart-pulse me-2"></i> <%= t('workout') %>
      <% end %>
    </li>

    <li>
      <%= link_to sheets_path(completed: params[:completed]),
        class: "dropdown-item #{'bg-primary text-light' unless params[:type]}" do %>

        <i class="bi bi-list-ul me-2"></i> <%= t('all') %>
      <% end %>
    </li>

    <li class="">
      <%= link_to sheets_path(type: params[:type], completed: true),
        class: "dropdown-item #{'bg-secondary text-light' if params[:completed]}" do %>

        <i class="bi bi-check-lg"></i> <%= t('.completed') %>
      <% end %>
    </li>
  </ul>
</div>
