<%= form_with(model: sheet, data: { controller: "bridge--form", action: "turbo:submit-start->bridge--form#submitStart turbo:submit-end->bridge--form#submitEnd" }) do |form| %>
  <% if sheet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sheet.errors.count, t('error')) %> <%= t('.error_message_form')%></h2>

      <ul>
        <% sheet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='mb-3'>
    <%= form.label :name, t('.label.name'),style: "display: block", class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control border border-success' %>
  </div>

  <div class='mb-3'>
    <%= form.label :description, t('.label.description'), style: "display: block", class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control border border-success' %>
  </div>

  <div class="mb-3">
    <%= form.label :visibility, t('.label.visibility'), class: 'form-label' %>
    <%= form.select :visibility, Sheet.visibilities.keys.map { |key| [t("visibility.#{key}"), key] },
      { selected: form.object.visibility }, class: 'form-select border border-success' %>
  </div>

  <div class="mb-4">
    <%= form.label :sheet_type, t('.label.sheet_type'), class: 'form-label mb-1' %>

    <div class="d-flex align-items-center gap-2">
      <span class="fw-semibold fs-6 d-flex align-items-center gap-1
        <%= @sheet.sheet_type == 'workout' ? 'text-success' : 'text-muted' %>">
        <%= t('workout') %>
        <i class="bi bi-heart-pulse fs-6"></i>
      </span>

      <div class="form-check form-switch ms-1 switch-success">
        <%= form.check_box :sheet_type,
            { class: 'form-check-input', role: 'switch', onchange: "this.value = this.checked ? 'diet' : 'workout'",
              checked: @sheet.sheet_type == 'diet' }, 'diet', 'workout' %>
      </div>

      <span class="fw-semibold fs-6 d-flex align-items-center gap-1 <%= 'text-success' if @sheet.sheet_type == 'diet' %>">
        <i class="bi bi-cup-hot fs-6"></i>
        <%= t('diet') %>
      </span>
    </div>
  </div>

  <div>
    <%= form.submit "Save", data: { "bridge--form-target": "submit", "bridge-title": "Save" }, class: 'btn btn-success' %>
  </div>
<% end %>
