<div id="<%= dom_id sheet %>">
  <h2 class='fw-bold'>
    <%= sheet.name %>
  </h2>

  <p>
    <strong><%= t('.description')%></strong>
    <%= sheet.description %>
  </p>

  <% if action_name == 'show' %>
    <% if sheet.sheet_type == 'workout' %>
      <p><strong><%= t('.type')%></strong><%= t('.sheet_type') %></p>
    <% else %>
      <p><strong><%= t('.type')%></strong><%= t('.sheet_type_1') %></p>
    <% end %>
  <% end %>
</div>
