<div id="<%= dom_id sheet %>">
  <h2 class='fw-bold'>
    <%= sheet.name %>
  </h2>

  <p>
    <strong>Description:</strong>
    <% if action_name == 'index' %>
      <%= truncate(sheet.description, length: 120) %>
    <% else %>
      <%= sheet.description %>
    <% end %>
  </p>

  <% if action_name == 'show' %>
    <p><strong>Type: </strong><%= sheet.sheet_type %></p>
  <% end %>
</div>
