<div id="<%= dom_id sheet %>" class="hover-zoom-sm <%= 'col-md-6 p-2' unless action_name == 'show' %>">
  <div class="<%= sheet.sheet_completions_today.any? ? "bg-completed-#{sheet_color(sheet)} border border-completed-#{sheet_color(sheet)}" : 'bg-body-tertiary' %>
    border-start border-2 border-<%= sheet_color(sheet) %> rounded shadow-sm position-relative px-3 py-2">

    <div class="d-flex align-items-center mb-2">
      <i class="bi <%= sheet.workout? ? 'bi-heart-pulse' : 'bi-egg-fried' %> text-<%= sheet_color(sheet) %> fs-3 me-2"></i>
      <div>
        <h2 class="h6 mb-0 fw-semibold"><%= sheet.name %></h2>
        <small class="badge bg-<%= sheet_color(sheet) %>-subtle text-<%= sheet_color(sheet) %>">
          <%= sheet.workout? ? t('workout') : t('diet') %>
        </small>
      </div>
    </div>

    <p class="mb-0 card-text text-muted fs-6"><%= sheet.description %></p>

    <% unless action_name == 'show' %>
      <div class="position-absolute top-0 end-0 m-2 d-flex gap-1">
        <%= sheet_completion_button(sheet) %>
        <%= link_to sheet_path(sheet), data: { turbo_frame: "_top" }, class: "btn btn-sm border border-1 rounded" do %>
          <i class="bi bi-pencil"></i>
        <% end %>
      </div>

      <%= sheet_completions_today_badge(sheet) %>

      <%= link_to "", sheet_diets_or_workouts_path(sheet), data: { turbo_frame: "_top"}, class: "stretched-link" %>
    <% end %>
  </div>
</div>
