<% content_for(:title, t('.title')) %>

<div class="d-flex justify-content-between align-items-center">
  <h1><%= t('.title') %></h1>
  <%= link_to t('new'), new_sheet_path, data: { controller: "bridge--nav-button", bridge_title: "+ New" }, class: 'btn btn-success mb-2' %>
</div>

<%= turbo_frame_tag "sheets" do %>
  <div class="sticky-top z-3 d-flex align-items-center justify-content-between mb-2">
    <% if turbo_native_app? %>
        <%= link_to account_path, class: "text-decoration-none", data: { turbo_frame: "_top" } do %>
          <div class="d-flex align-items-center">
            <%= image_tag @user.avatar, class: 'object-fit-cover rounded-circle me-2', size: '45x45' if @user.avatar.attached? %>
            <p class="fw-bold text-truncate mt-3" style="max-width: 8rem;"><%= @user.email %></p>
          </div>
        <% end %>

        <%= link_to requests_path, data: {turbo_frame: "_top"}, class: 'ms-2 btn btn-sm btn-info rounded-circle' do %>
          <i class="bi bi-file-earmark-spreadsheet-fill"></i>
        <% end %>
    <% end %>

    <%= render 'filter' %>
  </div>

  <div id="paginables" class="row">
    <%= render partial: "sheet_card", collection: @page.records, as: :sheet %>
    <%= render "shared/paginables/next_page_container", src: sheets_path(page: @page.next_param, format: :turbo_stream) unless @page.last? %>
  </div>
<% end %>
