<% content_for(:title, t('.title')) %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h1><%= t('.title') %></h1>
  <%= link_to t('new'), new_sheet_path, data: { controller: "bridge--nav-button", bridge_title: "+ New" }, class: 'btn btn-success mb-2' %>
</div>

<%= turbo_frame_tag "sheets" do %>
  <% if turbo_native_app? %>
    <div class="sticky-top z-3 mb-3">

      <%= link_to account_path, class: "text-decoration-none", data: { turbo_frame: "_top" } do %>
        <div class="d-flex align-items-center">
          <%= image_tag @user.avatar, class: 'object-fit-cover rounded-circle me-2', size: '45x45' if @user.avatar.attached? %>
          <p class="fw-bold text-truncate mt-3" style="max-width: 8rem;"><%= @user.email %></p>
        </div>
      <% end %>

      <%= link_to sheet_requests_path, data: {turbo_frame: "_top"}, class: 'ms-2 btn btn-sm btn-info rounded-circle' do %>
        <i class="bi bi-file-earmark-spreadsheet-fill"></i>
      <% end %>

    </div>
  <% end %>

  <div class="sticky-top d-flex justify-content-end mx-0 mb-3" style="top: 64px; z-index: 1010;">
    <%= render "filter" %>
  </div>

  <div id="paginables" class="row">
    <%= render partial: "sheet_card", collection: @page.records, as: :sheet %>
    <%= render "shared/paginables/next_page_container", src: sheets_path(page: @page.next_param, type: params[:type], visibility: params[:visibility], format: :turbo_stream) unless @page.last? %>
  </div>
<% end %>
