<h1><% content_for(:title, t('.title')) %></h1>

<div id="sheets">
  <div class="row">
    <% @sheets.each do |sheet| %>
      <div class="col-md-6">
        <div class='border-start border-5 <%= cycle('bg-success-subtle border-dark', 'bg-light border-success') %> shadow rounded p-2 mb-3'>
          <%= link_to sheet_diets_or_workouts_path(sheet), class: 'link-dark link-underline link-underline-opacity-0' do %>
            <%= render sheet %>
          <% end %>
          <%= link_to  t('.action_show'), sheet, class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="d-grid gap-2 mb-3">
  <%= link_to t('.action_new'), new_sheet_path, data: { controller: "bridge--nav-button", bridge_title: "+ New" }, class: 'btn btn-success' %>
</div>

<br>

<%= link_to 'Home', root_path, class: 'hide-on-mobile' %>
