<h1><% content_for(:title, "Sheets") %></h1>

<div id="sheets">
  <% @sheets.each do |sheet| %>
    <div class='<%= cycle('bg-success-subtle', 'bg-light') %> shadow rounded p-2 mb-3'>
      <% if sheet.sheet_type == 'workout' %>
        <%= link_to sheet_workouts_path(sheet), class: 'link-dark link-underline link-underline-opacity-0' do %>
          <%= render sheet %>
          <%= link_to "show sheet", sheet, class: 'btn btn-success' %>
        <% end %>
      <% else %>
        <%= link_to sheet_diets_path(sheet), class: 'link-dark link-underline link-underline-opacity-0' do %>
          <%= render sheet %>
          <%= link_to "show sheet", sheet, class: 'btn btn-success' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="d-grid gap-2">
  <%= link_to "New sheet", new_sheet_path, data: { controller: "bridge--nav-button", bridge_title: "+ New" }, class: 'btn btn-success' %>
</div>
