<% content_for(:title, t('.title')) %>

<div class="d-flex justify-content-between align-items-center">
  <h1><%= t('.title') %></h1>
  <%= link_to t('new'), new_sheet_path, data: { controller: "bridge--nav-button", bridge_title: "+ New" }, class: 'btn btn-success mb-3' %>
</div>

<%= turbo_frame_tag "sheets" do %>
  <div class="sticky-top d-flex align-items-center justify-content-between mb-3">
    <% if turbo_native_app? %>
        <%= link_to account_path, class: "text-decoration-none", data: { turbo_frame: "_top" } do %>
          <div class="d-flex align-items-center">
            <%= image_tag @user.avatar, class: 'object-fit-cover rounded-circle me-2', size: '45x45' if @user.avatar.attached? %>
            <p class="fw-bold text-truncate mt-3" style="max-width: 8rem;"><%= @user.email %></p>
          </div>
        <% end %>
        <%= link_to shares_sheet_requests_path, data: {turbo_frame: "_top"}, class: 'ms-2 btn btn-sm btn-outline-warning rounded-circle' do %>
          <i class="bi bi-bell"></i>
        <% end %>
    <% end %>

    <div class="ms-auto dropdown bg-light rounded mt-2">
      <button class="btn btn-sm border dropdown-toggle" type="button" id="languageButton" data-bs-toggle="dropdown">
        <i class="bi bi-funnel-fill"><%= t('.filter') %></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><%= link_to t('diet'), sheets_path(type: 'diet'), class: 'dropdown-item' %></li>
        <li><%= link_to t('workout'), sheets_path(type: 'workout'), class: 'dropdown-item' %></li>
        <li><%= link_to 'all', sheets_path, class: "dropdown-item" %></li>
      </ul>
    </div>
  </div>

  <div id="paginables" class="row">
    <%= render partial: "sheets/paginables/sheet", collection: @page.records, as: :sheet %>
    <%= render "sheets/paginables/next_page_container", page: @page.next_param unless @page.last? %>
  </div>
<% end %>
