<% content_for(:title, t('.title')) %>

<div class="shadow-sm border rounded p-2 mb-3">
    <%= render @sheet %>
</div>

<div id="sheets" data-controller="bridge--menu">
  <div class="d-none" data-controller="bridge--nav-button" data-action="click->bridge--menu#show">Options</div>

  <div class='d-flex'>
    <div data-bridge--menu-target="title" class="d-none">Contact Options</div>
    <%= link_to t('edit'), edit_sheet_path(@sheet), data: { bridge__menu_target: "item" }, class: 'btn btn-secondary me-2' %>
    <%= button_to t('destroy'), @sheet, method: :delete, data: { bridge__menu_target: "item", 'turbo-confirm': t('message_destroy'),  controller: "redirect", 'redirect-url-value': sheets_path }, class: 'btn btn-danger' %>
  </div>

  <%= link_to 'back', sheets_path, class: 'hide-on-mobile my-2' %>
</div>

<h3>Send copies</h3>
<%= form_with url: sheet_path(@sheet), method: :get, local: true do |form| %>
  <div class="input-group mb-3">
    <%= form.text_field :name, value: params[:name], class: "form-control", placeholder: "Search by username..." %>
    <button class="btn btn-outline-secondary" type="submit">Search</button>
  </div>
<% end %>

<div class="mt-4">
  <div class="d-flex flex-wrap gap-2">
    <%= render partial: "notifications/form", collection: @users, as: :user, locals: { sheet: @sheet } %>
  </div>
</div>
