<% content_for(:title, t('.title')) %>

<div class="shadow-sm border rounded p-2 mb-3">
    <%= render @sheet %>
</div>

<div data-controller="bridge--menu">
  <div class="d-none" data-controller="bridge--nav-button" data-action="click->bridge--menu#show">Options</div>

  <div class='d-flex'>
    <div data-bridge--menu-target="title" class="d-none">Contact Options</div>
    <%= link_to t('edit'), edit_sheet_path(@sheet), data: { bridge__menu_target: "item" }, class: 'btn btn-secondary me-2' %>
    <%= button_to t('destroy'), @sheet, method: :delete, data: { turbo_frame: "_top", bridge__menu_target: "item", 'turbo-confirm': t('message_destroy') }, class: 'btn btn-danger' %>
  </div>

  <%= link_to 'back', sheets_path, class: 'hide-on-mobile my-2' %>
</div>

<div class="mt-4">
  <h3>Send copies</h3>
  <div class="d-flex flex-wrap gap-2">
    <%= render partial: "notifications/form", collection: User.all, as: :user, locals: { sheet: @sheet } %>
  </div>
</div>
