<h1 class='hide-on-mobile mb-4 fw-bold'>Home</h1>

<h3 class='fw-bold mt-3'>My sheets</h3>
<%= link_to sheets_workout_path, class: 'link-underline link-underline-opacity-0 link-dark' do %>
  <div class="bg-success-subtle shadow rounded p-2 mb-3">
    <div class="d-flex align-items-center p-1">
      <div class="flex-shrink-0">
        <%= image_tag 'image 3.png', class: 'm-0 rounded' %>
      </div>
      <div class="flex-grow-1 ms-3">
        <h1 class='h4 fw-bold'>Training sheets</h1>
        <p>
          <strong>Description:</strong> Contains training sheets. Choose a card and start your fitness journey.
        </p>
      </div>
    </div>
  </div>
<% end %>

<%= link_to sheets_diet_path, class: 'link-underline link-underline-opacity-0 link-dark' do %>
  <div class="bg-light shadow mb-3">
    <div class="d-flex align-items-center p-2">
      <div class="flex-shrink-0">
        <%= image_tag 'image 1.png', class: 'rounded' %>
      </div>
      <div class="flex-grow-1 ms-3">
        <h1 class='h4 fw-bold'>Diet sheets</h1>
        <p>
          <strong>Description:</strong> Contains diet cards. Choose a card and start your fitness journey.
        </p>
      </div>
    </div>
  </div>
<% end %>

<h3 class='fw-bold'>Manage sheets</h3>
<%= link_to sheets_path, class: 'link-underline link-underline-opacity-0 link-dark' do %>
  <div class="bg-success-subtle shadow rounded">
    <div class="d-flex align-items-center p-2">
      <div class="flex-shrink-0">
        <%= image_tag 'image 2.png', class: 'rounded' %>
      </div>
      <div class="flex-grow-1 ms-3">
        <h1 class='h4 fw-bold'>Sheets</h1>
        <p>
          <strong>Description:</strong> Create personalized training sheets or diets for your clients.
        </p>
      </div>
    </div>
  </div>
<% end %>
