<div class="border rounded shadow p-2">
  <div class="d-flex gap-2 mb-2 align-items-center">
    <% if notification.sender.avatar.attached? %>
      <%= image_tag notification.sender.avatar, class: "rounded-circle border", style: "width:32px; height:32px;" %>
    <% end %>
    <div class="flex-grow-1">
      <div class="d-flex justify-content-between align-items-center">
        <small class="text-muted"><%= notification.sender.username %></small>
        <div class="d-flex gap-1">
          <% unless notification.accepted? %>
            <%= button_to accept_notification_path(notification), method: :patch, class: "btn btn-success btn-sm rounded-circle" do %>
              <i class="bi bi-check"></i>
            <% end %>
          <% end %>
          <%= button_to notification, method: :delete, class: "btn btn-danger btn-sm rounded-circle" do %>
            <i class="<%= notification.accepted? ? 'bi bi-trash3-fill' : 'bi bi-x' %>"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <p class="m-2 small text-muted"><i class="bi bi-chat-right-text me-2"></i> <%= notification.message %> </p>
</div>
