<% content_for(:title, t('.title')) %>

<div class="mx-auto" style="max-width: 500px;">
    <div class="py-3 shadow p-4 rounded mb-3">
      <div class="text-center mb-4">
        <div class="mb-3">
          <%= image_tag 'logo.png', class: 'img-fluid', style: 'max-height: 90px;' %>
        </div>
        <h2 class="text-success"><%= t('.title') %></h2>
      </div>

      <%= form_with(url: sign_up_path, data: { controller: "redirect", redirect_url_value: root_path }) do |form| %>
        <% if @user.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(@user.errors.count, t('error')) %> <%= t('.error_message_form')%></h2>

            <ul>
              <% @user.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class='mb-3'>
          <%= form.label :name, style: "display: block", class: 'form-label' %>
          <%= form.text_field :name, value: @user.name, required: true, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class='mb-3'>
          <%= form.label :email, style: "display: block", class: 'form-label' %>
          <%= form.email_field :email, value: @user.email, required: true, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class='mb-3'>
          <%= form.label :password, t('.label.passowrd'), style: "display: block", class: 'form-label' %>
          <%= form.password_field :password, required: true, autocomplete: "new-password", class: 'form-control' %>
          <%= content_tag :small, t('minimum_characters'), class: "text-muted" %>
        </div>

        <div class='mb-3'>
          <%= form.label :password_confirmation, t('.label.password_confirmation'),style: "display: block", class: 'form-label' %>
          <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class='pt-3'>
          <%= form.submit t(".submit"), class: 'btn btn-success w-100' %>
        </div>
      <% end %>
    </div>

    <%= link_to "back", sign_in_path, class: "hide-on-mobile" %>
</div>
