<% content_for(:title, t('.title')) %>

<div class="text-center mb-3">
  <% if Current.user.avatar.attached? %>
    <%= image_tag Current.user.avatar, class: 'rounded-circle mx-auto img-fluid', style: "width: 180px; height: 180px;" %>
  <% else %>
    <%= image_tag 'avatar.png', class: 'rounded-circle mx-auto img-fluid', style: "width: 180px; height: 180px;" %>
  <% end %>
</div>

<p class='text-center'>Signed as: <%= Current.user.email %></p>

<h2 class='fw-bold'><i class="bi bi-person-gear"></i>  <%= t('.section') %></h2>
<div class="list-group mb-4">
  <%= link_to t('.change_avatar'), identity_avatar_path(Current.user), class: "list-group-item list-group-item-action link-primary" %>
  <%= link_to t('.change_password'), edit_password_path,  class: "list-group-item list-group-item-action link-primary" %>
  <%= link_to t('.Change_email_address'), edit_identity_email_path, class: "list-group-item list-group-item-action link-primary" %>
</div>

<h3 class='fw-bold'><i class="bi bi-pc-display"></i>  <%= t('.section_1') %></h3>
<div class="list-group mb-4">
  <%= link_to t('.sessions'), sessions_path, class: "list-group-item list-group-item-action link-primary" %>
</div>

<h3 class='fw-bold'><i class="bi bi-translate"></i>  <%= t('.section_2') %></h3>
<div class="btn-group dropend">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="languageButton" data-bs-toggle="dropdown" aria-expanded="false">
    <%= I18n.locale == :en ? t('.language_1') : t('.language_2') %>
  </button>
  <ul class="dropdown-menu" aria-labelledby="languageButton">
    <li><%= link_to t('.language_1'), set_locale_path('en'), class: 'dropdown-item' %></li>
    <li><%= link_to t('.language_2'), set_locale_path('pt'), class: 'dropdown-item' %></li>
  </ul>
</div>

<div data-controller="bridge--menu" class='my-4'>
  <div data-controller="bridge--nav-button" data-action="click->bridge--menu#show" class="d-none">Log out</div>
    <div data-bridge--menu-target="title" class="d-none">Log out of account</div>
    <%= button_to t('.log_out'), Current.session, method: :delete, data: { bridge__menu_target: "item", 'turbo-confirm': 'Log out?' }, class: 'btn btn-danger' %>
</div>

<%= link_to 'Home', root_path, class: 'hide-on-mobile' %>
