<h1><% content_for(:title, "FitPlan") %></h1>


<div class="bg-secondary-subtle rounded">
  <%= link_to fichas_diets_path, class: 'link-offset-2 link-underline link-underline-opacity-0' do %>
        <div class="row rounded mb-3">
          <div class="col-auto">
            <%= image_tag 'img_dieta.png', class: 'ms-2 mt-2 rounded', style: 'max-width: 100px; height: 85%;'%>
          </div>
          <div class="col-8">
            <h4 class='mt-2 ms-4'>Dietas</h4>
            <p class='ms-4 link-dark'>
              <strong>Descrição:</strong> Aqui contem seus dados de perfil, como: idade, altura, TMB, IMC...
            </p>
          </div>
        </div>
  <% end %>
</div>

<div class="bg-light">
  <%= link_to fichas_treinos_path, class: 'link-offset-2 link-underline link-underline-opacity-0' do %>
      <div class="row rounded mb-3">
        <div class="col-auto">
          <%= image_tag 'img_treino.png', class: 'ms-2 mt-2 rounded', style: 'max-width: 100px; height: 85%;'%>
        </div>
        <div class="col-8">
          <h4 class='mt-2 ms-4'>Treinos</h4>
          <p class='ms-4 link-dark'>
            <strong>Descrição:</strong> Aqui contem seus dados de perfil, como: idade, altura, TMB, IMC...
          </p>
        </div>
      </div>
  <% end %>
</div>

<div class="bg-secondary-subtle rounded">
  <%= link_to fichas_path, class: 'link-offset-2 link-underline link-underline-opacity-0' do %>
    <div class="row rounded mb-3">
      <div class="col-auto">
        <%= image_tag 'img_treino.png', class: 'ms-2 mt-2 rounded', style: 'max-width: 100px; height: 85%;'%>
      </div>
      <div class="col-8">
        <h4 class='mt-2 ms-4'>Todas as fichas</h4>
        <p class='ms-4 link-dark'>
          <strong>Descrição:</strong> Aqui contem seus dados de perfil, como: idade, altura, TMB, IMC...
        </p>
      </div>
    </div>
  <% end %>
</div>
