<% content_for(:title, "Profile") %>

<div class="text-center mb-3">
  <%= image_tag 'example_avatar.png', class: 'rounded-circle', style: "width: 200px; height: 190px;"%>
  <p>Signed as: <%= Current.user.email %></p>
</div>

<div class="mb-4">
  <h2 class='fw-bold'>Options</h2>

  <ul class="list-group">
    <li class="list-group-item"><%= link_to "Change password", edit_password_path %></li>
    <li class="list-group-item"><%= link_to "Change email address", edit_identity_email_path %></li>
  </ul>
</div>

<div class='mb-3'>
  <h3 class='fw-bold'>History</h3>
  <div class="border rounded p-2">
    <%= link_to "Devices & Sessions", sessions_path %>
  </div>
</div>

<div data-controller="bridge--menu">
  <div class="d-none" data-controller="bridge--nav-button" data-action="click->bridge--menu#show">Log out</div>
    <div data-bridge--menu-target="title" class="d-none">Log out of account</div>
    <%= button_to "Log out", Current.session, method: :delete, data: { bridge__menu_target: "item", 'turbo-confirm': 'Log out?' }, class: 'btn btn-danger' %>
    <hr>
    <%= link_to 'back to home', root_path, class: 'hide-on-mobile' %>
</div>
