<div id="<%= dom_id dieta %>">
  <div class="bg-secondary-subtle rounded mb-3 p-2">
    <div class="row mb-2">
      <div class="col-8">
        <h3 class='text-start fw-bold'><%= dieta.refeicao %></h3>
      </div>
      <% if action_name != 'show' %>
        <div class="col text-end">
          <%= link_to 'Mostrar', ficha_dieta_path(@ficha, dieta), class: "link-light link-offset-2 link-underline link-underline-opacity-0 btn btn-success-custom" %>
        </div>
      <% end %>
    </div>

    <div class="bg-light rounded p-2">
      <div>
        <p>
          <%= raw dieta.descricao %>
        </p>
        <hr>
        <p>
          <strong>Calorias totais:</strong>
          <%= dieta.proteina_g %>
          <strong>Calorias totais:</strong>
          <%= dieta.carboidratos_g %>
          <strong>Calorias totais:</strong>
          <%= dieta.gordura_g %>
        </p>
        <% if dieta.calorias != 0.0  %>
          <p class='text-center'>
            <strong>Calorias totais:</strong>
            <%= dieta.calorias %> kcal
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
