<% content_for(:title, t('.title')) %>

<div class="text-center mb-3">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, class: 'rounded-circle object-fit-cover border', style: "width: 160px; height: 160px;" %>
  <% else %>
    <%= image_tag 'avatar.png', class: 'rounded-circle object-fit-cover border', style: "width: 160px; height: 160px;" %>
  <% end %>
</div>

<div class='d-flex gap-2'>
  <%= link_to t('.action_update'), edit_identity_avatar_path(@user), class: 'btn btn-secondary me-3' %>

  <% if @user.avatar.attached? %>
    <%= button_to t('.action_destroy'), identity_avatar_path(@user), method: :delete, data: { bridge__menu_target: "item", 'turbo-confirm': t('.message_destroy') }, class: 'btn btn-danger' %>
  <% end %>
</div>

<hr>

<%= link_to t('.link_back'), home_path, class: 'hide-on-mobile' %>
