<%= link_to ficha, class: "link-underline link-underline-opacity-0" do %>
  <div id="<%= dom_id ficha %>">
    <div class="row rounded mb-3">
      <div class="col-auto">
        <%= image_tag 'image 3.png', class: 'mt-2 ms-2', style: 'width: 110%; height: 83%;'%>
      </div>
      <div class="col-8">
          <h4 class='mt-1 ms-2 link-primary'><%= ficha.nome %></h4>
        <p class='ms-2 link-dark'>
          <strong>Descrição: </strong><%= ficha.descricao %></p>
        </p>
      </div>
    </div>
  </div>
<% end %>
