<%= form_with(model: ficha, data: { controller: "bridge--form", action: "turbo:submit-start->bridge--form#submitStart turbo:submit-end->bridge--form#submitEnd" }) do |form| %>
  <% if ficha.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ficha.errors.count, "Erros") %> proibiram dessa ficha ser salva:</h2>

      <ul>
        <% ficha.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='mb-3'>
    <%= form.label :nome, style: "display: block", class: 'form-label' %>
    <%= form.text_field :nome, class: 'form-control custom-border:focus custom-border' %>
  </div>

  <div class='mb-3'>
    <%= form.label :descrição, style: "display: block", class: 'form-label' %>
    <%= form.text_area :descricao, class: 'form-control custom-border:focus custom-border' %>
  </div>

    <p class='form-label'>Tipo de ficha</p>
    <div class="form-check mb-3">
      <div class="form-check-inline">
        <%= form.radio_button :tipo, 'treino', class: 'form-check-input' %>
        <%= form.label :tipo, 'Treino', class: 'form-check-label me-4' %>
      </div>

      <div class="form-check-inline">
        <%= form.radio_button :tipo, 'diet', class: 'form-check-input' %>
        <%= form.label :tipo, 'Dieta', class: 'form-check-label' %>
      </div>
    </div>


  <div>
    <%= form.submit "Salvar", data: { "bridge--form-target": "submit", "bridge-title": "Salvar" }, class: 'btn btn-primary' %>
  </div>
<% end %>
