<%= form_with(model: ficha) do |form| %>
  <% if ficha.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ficha.errors.count, "error") %> prohibited this ficha from being saved:</h2>

      <ul>
        <% ficha.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='mb-3'>
    <%= form.label :nome, style: "display: block", class: 'form-label' %>
    <%= form.text_field :nome, class: 'form-control border border-primary' %>
  </div>

  <div>
    <%= form.submit "#{@action} dieta", class: 'btn btn-primary' %>
  </div>
<% end %>
