<h1><% content_for(:title, "#{@ficha.nome}") %></h1>

<div class='<%= cycle('bg-success-subtle', 'bg-light') %> shadow rounded mb-4'>
  <div class="p-2">
    <%= render @ficha %>
  </div>
</div>

<div data-controller="bridge--menu">
  <div class="d-none" data-controller="bridge--nav-button" data-action="click->bridge--menu#show">Opções</div>

  <div class='btn-toolbar'>
    <div data-bridge--menu-target="title" class="d-none">Contact Options</div>
    <%= link_to "Editar ficha", edit_ficha_path(@ficha), data: { bridge__menu_target: "item" }, class: 'btn btn-secondary me-4' %>
    <%= button_to "Excluir ficha", ficha_path(@ficha), method: :delete, data: { bridge__menu_target: "item", 'turbo-confirm': 'Tem certeza? todos os treinos ou dietas presente nesta ficha serão apagados!' }, class: 'btn btn-danger' %>
  </div>
  <hr>
    <%= link_to 'voltar', fichas_path, class: 'hide-on-mobile text-indigo' %>
</div>
