<%= render @ficha %>

<div class='btn-toolbar mb-5'>
  <%= link_to "Editar ficha", edit_ficha_path(@ficha), class: 'btn btn-secondary me-4' %>
  <%= button_to "Excluir ficha", @ficha, method: :delete, data: {'turbo-confirm': "Excluir #{@ficha.nome}? Todos os treinos contido nesta ficha serão excluidos" }, class: 'btn btn-danger' %>
</div>


<% if @ficha.tipo == 'treino' %>
  <%= render partial: 'layouts/treinos' %> <br>
<% end %>
<% if @ficha.tipo == 'diet' %>
  <%= render partial: 'layouts/diets' %> <br>
<% end %>
