<% if @ficha.tipo == 'treino'%>
  <h1><% content_for(:title, "Ficha de treino") %></h1>
<% else %>
  <h1><% content_for(:title, "Ficha de dieta") %></h1>
<% end %>

<%= render @ficha %>

<div class='btn-toolbar mb-5'>
  <%= link_to "Editar ficha", edit_ficha_path(@ficha), class: 'btn btn-secondary me-4' %>
  <%= button_to "Excluir ficha", @ficha, method: :delete, data: {'turbo-confirm': "Excluir #{@ficha.nome}? Todos os treinos contido nesta ficha serão excluidos" }, class: 'btn btn-danger' %>
</div>


<% if @ficha.tipo == 'diet' %>
  <% @ficha.diet.each do |diet| %>
    <%= link_to ficha_diet_path(@ficha, diet), class: "link-dark link-offset-2 link-underline link-underline-opacity-0" do %>
      <%= render diet %>
    <% end %>
  <% end %>

  <div class="d-grid gap-2">
    <%= link_to "Nova Dieta", new_ficha_diet_path(@ficha), data: { controller: "bridge--nav-button", bridge_title: "+ Dieta" }, class: 'btn btn-primary' %>
  </div>

<% else %>

  <% @ficha.treinos.each do |treino| %>
    <%= link_to ficha_treino_path(@ficha, treino), class: "link-dark link-offset-2 link-underline link-underline-opacity-0" do %>
      <%= render treino %>
    <% end %>
  <% end %>

  <div class="d-grid gap-2">
    <%= link_to "Novo treino", new_ficha_treino_path(@ficha), data: { controller: "bridge--nav-button", bridge_title: "+ Treino" }, class: 'btn btn-primary' %>
  </div>
<% end %>
