<% if @ficha.tipo == 'treino'%>
  <h1><% content_for(:title, "Ficha de treino") %></h1>
<% else %>
  <h1><% content_for(:title, "Ficha de dieta") %></h1>
<% end %>

<%= render @ficha %>

<% if @ficha.tipo == 'diet' %>
  <% @ficha.diet.each do |diet| %>
      <%= render diet %>
  <% end %>

  <div class="d-grid gap-2">
    <%= link_to "Nova Dieta", new_ficha_diet_path(@ficha), data: { controller: "bridge--nav-button", bridge_title: "+ Dieta" }, class: 'btn btn-primary' %>
  </div>

<% else %>

  <% @ficha.treinos.each do |treino| %>
      <%= render treino %>
  <% end %>

  <div class="d-grid gap-2">
    <%= link_to "Novo treino", new_ficha_treino_path(@ficha), data: { controller: "bridge--nav-button", bridge_title: "+ Treino" }, class: 'btn btn-primary' %>
  </div>
<% end %>
