<div data-controller="upload-preview" class="text-center">
  <%= form_with url: identity_avatar_path, method: :patch do |form| %>
    <div class="d-flex justify-content-center align-items-center gap-3 mb-3">
      <div class="position-relative">
        <%= form.label :avatar, class: "d-inline-block", style: "cursor: pointer;" do %>
          <%= image_tag @user.avatar.attached? ? @user.avatar : "avatar.png", class: "rounded-circle object-fit-cover bg-secondary",
              style: "width:115px; height:115px;", data: { "upload-preview-target": "preview" } %>

          <div class="position-absolute top-50 start-50 translate-middle text-white z-1">
            <i class="bi bi-camera-fill"></i>
          </div>
        <% end %>

        <% if @user.avatar.attached? %>
          <%= link_to identity_avatar_path, class: "btn btn-danger btn-sm rounded-circle position-absolute bottom-0 end-0",
              data: { turbo_method: :delete, turbo_confirm: t("message_destroy"), "upload-preview-target": "removeButton" } do %>
            <i class="bi bi-trash3"></i>
          <% end %>
        <% end %>

        <button type="submit" class="btn btn-success btn-sm rounded-circle position-absolute bottom-0 end-0" data-upload-preview-target="saveButton" hidden>
          <i class="bi bi-check-lg"></i>
        </button>
      </div>
    </div>

    <%= form.file_field :avatar, accept: 'image/png, image/jpeg, image/jpg', class: "d-none", data: { "upload-preview-target": "fileInput", action: "change->upload-preview#preview" } %>
  <% end %>
</div>
