<% content_for(:title, t('.title')) %>

<div class="d-flex justify-content-between">
  <h1><%= t('.title') %></h1>
  <%= button_to "Log out", Current.session, method: :delete, data: { bridge__menu_target: "item", 'turbo-confirm': t('message_destroy') }, class: 'btn btn-danger hide-on-mobile' %>
</div>

<div class="card-body text-center">
  <div class="position-relative d-inline-block mb-3" style="width: 120px; height: 120px;">
    <%= image_tag @user.avatar.attached? ? @user.avatar : 'avatar.png', class: 'rounded-circle object-fit-cover border border-3 border-primary', width: 120, height: 120 %>
    <%= link_to "", identity_avatar_path(@user), class: "stretched-link", style: "position:absolute; inset:0; z-index:2;" %>
  </div>
  <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-envelope-fill me-1"></i><%= @user.email %></h6>
  <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-person-fill me-1"></i><%= @user.name %></h6>
  <h6 class="card-subtitle mb-2 text-warning"><small>@ </small><%= @user.handle %></h6>
</div>

<div class="card shadow-sm mb-4 border rounded-3">
    <div class="card-header bg-transparent border-bottom-0">
        <h2 class="h5 fw-bold mb-0">
            <i class="bi bi-person-gear me-3 text-primary"></i><%= t('.user_details.title') %>
        </h2>
    </div>

    <div class="list-group list-group-flush rounded-bottom">
      <%= link_to edit_identity_profile_path(@user), class: "list-group-item list-group-item-action d-flex align-items-center" do %>
          <i class="bi bi-calculator-fill me-3 text-muted"></i><%= t('.user_details.edit_identification') %>
      <% end %>

      <% if @user.user_detail.present? %>
        <%= link_to @user.user_detail, class: "list-group-item list-group-item-action d-flex align-items-center" do %>
            <i class="bi bi-calculator-fill me-3 text-muted"></i><%= t('.user_details.show') %>
        <% end %>
      <% else %>
        <%= link_to new_user_detail_path, class: "list-group-item list-group-item-action d-flex align-items-center" do %>
            <i class="bi bi-calculator-fill me-3 text-muted"></i><%= t('.user_details.add') %>
        <% end %>
      <% end %>

      <%= link_to identity_avatar_path(@user), class: "list-group-item list-group-item-action d-flex align-items-center" do %>
          <i class="bi bi-image me-3 text-muted"></i><%= t('.settings.change_avatar') %>
      <% end %>
    </div>
</div>

<div class="card shadow-sm mb-4 border rounded-3">
    <div class="card-header bg-transparent border-bottom-0">
        <h2 class="h5 fw-bold mb-0">
        <i class="bi bi-gear me-2 text-primary"></i><%= t('.settings.title') %>
        </h2>
    </div>
    <div class="list-group list-group-flush rounded-bottom">
        <%= link_to edit_password_path, class: "list-group-item list-group-item-action d-flex align-items-center" do %>
            <i class="bi bi-key me-3 text-muted"></i><%= t('.settings.change_password') %>
        <% end %>
        <%= link_to edit_identity_email_path, class: "list-group-item list-group-item-action d-flex align-items-center" do %>
            <i class="bi bi-envelope me-3 text-muted"></i><%= t('.settings.change_email') %>
        <% end %>
    </div>
</div>

<div class="card shadow-sm mb-4 border rounded-3">
    <div class="card-header bg-transparent border-bottom-0">
        <h3 class="h5 fw-bold mb-0">
        <i class="bi bi-pc-display me-2 text-primary"></i><%= t('.session.title') %>
        </h3>
    </div>
    <div class="list-group list-group-flush rounded-bottom">
        <%= link_to sessions_path, class: "list-group-item list-group-item-action d-flex align-items-center" do %>
        <i class="bi bi-clock-history me-3 text-muted"></i><%= t('.session.collection_sessions') %>
        <% end %>
    </div>
</div>

<div class="card shadow-sm mb-4 border rounded-3 mb-5">
    <div class="card-header bg-transparent border-bottom-0 d-flex justify-content-between align-items-center">
        <h3 class="h5 fw-bold mb-0">
            <i class="bi bi-translate me-2 text-primary"></i><%= t('language') %>
        </h3>
        <div class="dropdown">
            <button class="btn btn-sm dropdown-toggle" type="button" id="languageButton" data-bs-toggle="dropdown">
                <%= I18n.locale == :en ? t('languages.en') : t('languages.pt') %>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><%= link_to t('languages.en'), set_locale_path('en'), data: { turbo_frame: "_top" }, class: 'dropdown-item' %></li>
                <li><%= link_to t('languages.pt'), set_locale_path('pt'), data: { turbo_frame: "_top" }, class: 'dropdown-item' %></li>
            </ul>
        </div>
    </div>
</div>

<% if turbo_native_app? %>
  <div class="position-fixed top-0 end-0 p-2 my-2" style="z-index: 1050">
    <div class="btn-group">
      <button type="button" class="btn btn-sm border rounded-circle" data-action="theme#toggle">
        <i class="bi bi-sun-fill"></i>
        <i class="bi bi-moon-stars-fill"></i>
      </button>
      <button type="button" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown"></button>
      <div class="dropdown-menu">
        <button class="dropdown-item" type="button" data-action="theme#system">
          <i class="bi bi-laptop"></i> <%= t('system_theme') %>
        </button>
      </div>
    </div>
  </div>
<% end %>

<div data-controller="bridge--menu" class="mb-4 d-none">
  <div data-controller="bridge--nav-button" data-action="click->bridge--menu#show">Log out</div>
  <div data-bridge--menu-target="title">Log out of account</div>
  <%= button_to "Log out", Current.session, method: :delete, data: { bridge__menu_target: "item", 'turbo-confirm': t('message_destroy') }, class: 'btn btn-danger hide-on-mobile' %>
</div>
