<div id="<%= dom_id diet %>">
  <div class="bg-secondary-subtle rounded mb-3 p-2">
    <div class="row">
      <div class="col-8">
        <h1 class='text-start'><%= diet.refeicao %></h1>
      </div>
      <% if controller.controller_name == 'fichas' %>
        <div class="col text-end">
          <div class="btn btn-success-custom">
            <%= link_to 'Mostrar', ficha_diet_path(@ficha, diet), class: "link-dark link-offset-2 link-underline link-underline-opacity-0 link-light" %>
          </div>
        </div>
      <% end %>
    </div>

      <div class="bg-light rounded p-2">
        <div>
          <p>
            <%= raw diet.descricao %>
          </p>
          <hr>
          <% if diet.calorias != 0.0  %>
            <p class='text-center'>
              <strong>Calorias totais:</strong>
              <%= diet.calorias %> kcal
            </p>
          <% end %>
        </div>
      </div>
  </div>
</div>
