<div id="<%= dom_id diet %>">
  <p>
    <strong>Snack:</strong>
    <%= diet.snack %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= diet.description %>
  </p>

  <p>
    <strong>Protein g:</strong>
    <%= diet.protein_g %>
  </p>

  <p>
    <strong>Carbohydrate g:</strong>
    <%= diet.carbohydrate_g %>
  </p>

  <p>
    <strong>Fat g:</strong>
    <%= diet.fat_g %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= diet.calories %>
  </p>

</div>
