<div id="<%= dom_id diet %>" class="shadow rounded">
  <div class="bg-success bg-opacity-10 p-2 rounded-top d-flex justify-content-between align-items-center">
    <h2 class="h5 fw-bold text-success mb-0 text-truncate">
      <i class="bi bi-cup-hot me-1"></i><%= diet.meal %>
    </h2>
    <% if action_name != 'show' %>
      <%= link_to sheet_diet_path(@sheet, diet), class: 'btn btn-sm btn-success ms-2' do %>
        <i class="bi bi-eye-fill"></i>
      <% end %>
    <% end %>
  </div>

  <div class="px-3 pb-3">
    <p class="mb-3"><%= diet.description %></p>

    <div class="small bg-dark-subtle rounded row g-0 m-0">
      <div class="col-6 col-md-3 text-center p-1 border-end border-bottom">
        <p class="text-muted mb-0"><i class="bi bi-egg-fried"></i> <%= t('proteins') %></p>
        <p class="fw-bold mb-0 text-primary"><%= diet.protein_g %>g</p>
      </div>

      <div class="col-6 col-md-3 text-center p-1 border-bottom">
        <p class="small text-muted mb-0"><i class="bi bi-basket"></i> <%= t('carbohydrates') %></p>
        <p class="fw-bold mb-0 text-success"><%= diet.carbohydrate_g %>g</p>
      </div>

      <div class="col-6 col-md-3 text-center p-1 border-end">
        <p class="small text-muted mb-0"><i class="bi bi-droplet"></i> <%= t('fats') %></p>
        <p class="fw-bold mb-0 text-warning"><%= diet.fat_g %>g</p>
      </div>

      <div class="col-6 col-md-3 text-center p-1">
        <p class="small text-muted mb-0"><i class="bi bi-fire"></i> <%= t('calories')%></p>
        <p class="fw-bold mb-0 text-danger"><%= diet.calories %></p>
      </div>
    </div>
  </div>
</div>
