<% content_for(:title, @sheet.name) %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h1><%= @sheet.name %></h1>
  <%= link_to t('new'), new_sheet_diet_path(@sheet), data: { controller: "bridge--nav-button", bridge_title: "+ Diet" }, class: 'btn btn-success flex-shrink-0' %>
</div>

<%= turbo_frame_tag "diets", class: "row" do %>
  <%= render 'shared/completion_today_size' %>

  <% @diets.each do |diet| %>
    <div class="col-md-6 p-2 mb-2">
      <%= render diet, completed: @diets_completed.include?(diet.id) %>
    </div>
  <% end %>
<% end %>

<br>

<%= link_to 'back', sheets_path, class: 'hide-on-mobile mt-2' %>
