<nav class="hide-on-mobile navbar navbar-expand-lg border-bottom sticky-top top-0 bg-body z-4 py-2">
  <div class="container d-flex align-items-center">
    <button class="navbar-toggler border px-2 order-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <i class="bi bi-list fs-3"></i>
    </button>

    <%= link_to root_path, class: 'navbar-brand order-2 mx-auto mx-lg-0 order-lg-1 py-0' do %>
      <span class="fw-bold text-success fs-4 lh-1">FITPLAN</span>
    <% end %>

    <div class="d-flex align-items-center gap-2 order-3 d-lg-none">
      <%= render 'shared/theme_toggle' %>

      <%= link_to account_path do %>
        <% if Current.user.avatar.attached? %>
          <%= image_tag Current.user.avatar, class: 'rounded-circle object-fit-cover', style: 'width: 36px; height: 36px;' %>
        <% else %>
          <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center text-white"
               style="width: 36px; height: 36px;">
            <i class="bi bi-person-fill fs-5"></i>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="collapse navbar-collapse order-4 order-lg-2 ms-2" id="navbarNav">
      <ul class="navbar-nav mt-3 mt-lg-0">
        <li class="nav-item">
          <%= link_to sheets_path, class: 'nav-link px-3 fw-medium py-2' do %>
            <i class="bi bi-clipboard-data me-1"></i> <%= t('link_sheets') %>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to sheet_requests_path, class: 'nav-link px-3 fw-medium py-2' do %>
            <i class="bi bi-share me-1"></i> <%= t('link_sheet_requests') %>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to dashboard_path, class: 'nav-link px-3 fw-medium py-2' do %>
            <i class="bi bi-activity me-1"></i> <%= t('link_dashboard') %>
          <% end %>
        </li>

        <li class="d-md-none nav-item px-3 py-2">
          <%= button_to Current.session, method: :delete, class: "btn btn-sm btn-danger w-100" do %>
            <i class="bi bi-box-arrow-left me-1"></i> <%= t('logout') %>
          <% end %>
        </li>
      </ul>

      <div class="d-none d-lg-flex align-items-center ms-auto gap-3 ps-3">
        <%= render 'shared/theme_toggle' %>

        <%= link_to account_path, class: 'd-flex align-items-center' do %>
          <% if Current.user.avatar.attached? %>
            <%= image_tag Current.user.avatar, class: 'rounded-circle object-fit-cover', style: 'width: 36px; height: 36px;' %>
          <% else %>
            <span class="rounded-circle bg-white bg-opacity-25 d-inline-flex align-items-center justify-content-center"
                  style="width: 36px; height: 36px;">
              <i class="bi bi-person-fill"></i>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
