<!DOCTYPE html>
<html data-controller="theme">
  <head>
    <script>
      const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
      document.documentElement.setAttribute("data-bs-theme", localStorage.getItem("theme") || (prefersDark ? "dark" : "light"));
    </script>

    <title><%= content_for(:title || FitPlan ) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% if turbo_native_app? %>
      <style>.hide-on-mobile, h1 { display: none; }</style>
    <% end %>
  </head>

  <body>
    <div class="hide-on-mobile mb-4">
      <%= render 'layouts/navbar' if Current.user.present? %>

      <div class="container my-3">
        <% if notice.present? %>
          <div class="alert alert-dark alert-white-on-dark py-2 rounded" role="alert" data-controller="bridge--flash-message"><%= notice %></div>
        <% end %>
      </div>
    </div>

    <div class="container my-4">
      <%= yield %>

      <dialog id="turbo-confirm" class="hide-on-mobile shadow-sm bg-light rounded border p-3" style="width: 30rem; height: 8rem;">
        <form method="dialog" class="border-0 h-100 d-flex flex-column justify-content-between">
          <div><p class="mt-1">Are you sure?</p></div>
          <div class="text-end d-flex justify-content-end gap-2">
            <button value="cancel" class="btn btn-secondary btn-sm">Cancel</button>
            <button value="confirm" class="btn btn-primary btn-sm">Confirm</button>
          </div>
        </form>
      </dialog>
    </div>
  </body>
</html>
