<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title || FitPlan ) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" , "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>

    <% if turbo_native_app? %>
      <style>.hide-on-mobile { display: none; }</style>
    <% end %>
  </head>

  <body>
    <div class="hide-on-mobile mb-4">
      <div class="bg-success p-2 text-light">
        <div class="d-flex justify-content-between">
          <h1 class='fw-bold mt-1'>
            <%= link_to 'FitPlan', root_path, class: 'link-light link-underline-success' %>
          </h1>

          <% if Current.user.present? %>
            <%= link_to home_path, class: 'link-light' do %>
                <p class='fw-bold h6'>
                  <%= Current.user.email.truncate(16) %>
                  <%= image_tag 'example_avatar.png', class: 'rounded-circle', style: "width: 54px; height: 50px;" %>
                </p>
            <% end %>
          <% end %>
        </div>
      </div>

      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <%= link_to t('.home'), root_path, class: 'navbar-brand link-primary'%>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to t('.link_sheets'), sheets_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to t('.link_diet_sheets'), sheets_diet_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to t('.link_training_sheets'), sheets_workout_path, class: 'nav-link' %>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container mt-3">
        <% if notice.present?  %>
          <div class="alert alert-success" role="alert" data-controller="bridge--flash-message">
            <%= notice %>
          </div>
        <% elsif alert.present? %>
          <div class="alert alert-danger" role="alert" data-controller="bridge--flash-message">
            <%= alert %>
          </div>
        <% end %>
      </div>

      <h1 class='fw-bold container mt-3'><%= content_for(:title || FitPlan ) %></h1>
    </div>

    <div class="container mt-3">
      <%= yield %>
    </div>
  </body>
</html>
