<!DOCTYPE html>
<html data-controller="theme" <%= "data-bs-theme=#{cookies[:theme].present? ? cookies[:theme] : 'light'}" %>>
  <head>
    <title><%= content_for(:title || FitPlan ) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% if turbo_native_app? %>
      <style>.hide-on-mobile, h1 { display: none; }</style>
    <% end %>
  </head>

  <body>
    <div class="hide-on-mobile mb-4">
      <%= render 'layouts/navbar' if Current.user.present? %>

      <div class="container my-3">
        <% if notice.present? %>
          <div class="alert alert-dark alert-white-on-dark py-2 rounded" role="alert" data-controller="bridge--flash-message"><%= notice %></div>
        <% end %>
      </div>
    </div>

    <div class="container my-4">
      <%= yield %>
    </div>
  </body>
</html>
